body{
    height: 100vh;;
}
.nav2 {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    
}

.nav2 ul {
    display: flex;
    list-style: none;
}

.nav2 ul li {
    margin: 0 30px;
}

.nav2 ul li a {
    color: #000;
    font-weight: bold;
}
.nav2 a {
    text-decoration: none;
}
.titre_formation{
    font-weight: bold;
    text-align: left;
}
ol{
    list-style-type: none;
}
ol li{
    text-align: left;
}
.date{
    font-weight: bold;
}
ol a{
    text-decoration: none;
    color: red;
}
.skill{

    flex: 1 1 calc(30% - 20px);
    margin: 10px;
}
.skill_description{
    text-align: left;
}
.skill_logo{
    height: 50px;
    width: 50px;
}
.skill_title{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
#competences{
    display: flex;
    flex-wrap: wrap;

}
.para_gallery{
    display: flex;
    flex-wrap: wrap;
}
.para_card{
    flex: 1 1 calc(40% - 20px);
    margin: 10px;
}
.para_title{
    font-weight: bolder;
}
.para_img{
    height: 200px;
    width: 200px;
}
.para_img:hover{
    transform: scale(1.5);
}
#loisirs img {
    float: left; 
    height: 200px;
    width: 200px;
    margin-right: 20px; 
}

.loisirs_description {
    overflow: hidden; 
    width: calc(100% - 220px); 
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
